.container.slider
	#carousel2.owl-carousel.owl-theme
		.items
			a(href="http://community.norton.com/en/blogs/norton-protection-blog/holiday-security-tips-online-shopping-checklist" target="_blank" onclick="trackPageView('assets: Holiday Security Tips')")
				//- img.lazyload(data-sizes='auto' src="img/assets/consumer1.jpg")
				picture
					<!--[if IE 9]><video style="display: none;"><![endif]-->
					source(data-srcset='img/assets/consumer1.jpg' media='(min-width:720px')
					source(data-srcset='img/assets/consumer1.jpg' media='(min-width:300px)')
					<!--[if IE 9]></video><![endif]-->
					img.lazyload(data-sizes='auto' src='img/assets/consumer1_lq.jpg')
				
		.items
			a(href="http://bit.ly/1ALJlE8" target="_blank" onclick="trackPageView('assets: Threats Are you prepared')")
				//- img.lazyload(data-sizes='auto' src="img/assets/consumer2.jpg")
				picture
					<!--[if IE 9]><video style="display: none;"><![endif]-->
					source(data-srcset='img/assets/consumer2.jpg' media='(min-width:720px)')
					source(data-srcset='img/assets/consumer2_s.jpg' media='(min-width:300px)')
					<!--[if IE 9]></video><![endif]-->
					img.lazyload(data-sizes='auto' src='img/assets/consumer2_lq.jpg')
				
		.items
			a(href="http://community.norton.com/en/blogs/norton-protection-blog/stop-stressing-10-internet-safety-rules-help-keep-your-family-safe" target="_blank" onclick="trackPageView('assets: 10 Internet Safety')")
				//- img.lazyload(data-sizes='auto' src="img/assets/consumer3.jpg")
				picture
					<!--[if IE 9]><video style="display: none;"><![endif]-->
					source(data-srcset='img/assets/consumer3.jpg' media='(min-width:720px)')
					source(data-srcset='img/assets/consumer3_s.jpg' media='(min-width:300px)')
					<!--[if IE 9]></video><![endif]-->
					img.lazyload(data-sizes='auto' src='img/assets/consumer3_lq.jpg')
				
		.items
			a(href="http://sg.norton.com/streetsmart" target="_blank" onclick="trackPageView('assets: Norton Streetsmart')")
				//- img.lazyload(data-sizes='auto' src="img/assets/consumer4.jpg")
				picture
					<!--[if IE 9]><video style="display: none;"><![endif]-->
					source(data-srcset='img/assets/consumer4.jpg' media='(min-width:720px)')
					source(data-srcset='img/assets/consumer4_s.jpg' media='(min-width:300px)')
					<!--[if IE 9]></video><![endif]-->
					img.lazyload(data-sizes='auto' src='img/assets/consumer4_lq.jpg')
				
		.items
			a(href="http://www.norton.com/apj/mobile-freedom" target="_blank" onclick="trackPageView('assets: Mobile Freedom')")
				//- img.lazyload(data-sizes='auto' src="img/assets/consumer5.jpg")
				picture
					<!--[if IE 9]><video style="display: none;"><![endif]-->
					source(data-srcset='img/assets/consumer5.jpg' media='(min-width:720px)')
					source(data-srcset='img/assets/consumer5_s.jpg' media='(min-width:300px)')
					<!--[if IE 9]></video><![endif]-->
					img.lazyload(data-sizes='auto' src='img/assets/consumer5_lq.jpg')
				
		.items
			a(href="http://sg.norton.com/onlinetraveltips" target="_blank" onclick="trackPageView('assets: Online Travel Tips')")
				//- img.lazyload(data-sizes='auto' src="img/assets/consumer6.jpg")
				picture
					<!--[if IE 9]><video style="display: none;"><![endif]-->
					source(data-srcset='img/assets/consumer6.jpg' media='(min-width:720px)')
					source(data-srcset='img/assets/consumer6_s.jpg' media='(min-width:300px)')
					<!--[if IE 9]></video><![endif]-->
					img.lazyload(data-sizes='auto' src='img/assets/consumer6_lq.jpg')
				
		.items
			a(href="https://www.youtube.com/watch?v=Odl2qr5qj98&index=1&list=PLMHhjKfBkIZR5vv7zB9NBpWaTJ1nY6cUK" target="_blank" onclick="trackPageView('assets: Real cost of free antivirus')")
				//- img.lazyload(data-sizes='auto' src="img/assets/consumer7.jpg")
				picture
					<!--[if IE 9]><video style="display: none;"><![endif]-->
					source(data-srcset='img/assets/consumer7.jpg' media='(min-width:720px)')
					source(data-srcset='img/assets/consumer7_s.jpg' media='(min-width:300px)')
					<!--[if IE 9]></video><![endif]-->
					img.lazyload(data-sizes='auto' src='img/assets/consumer7_lq.jpg')
				
		.items
			a(href="https://www.youtube.com/watch?v=VJ1-tN3WnQ4&list=PLMHhjKfBkIZR5vv7zB9NBpWaTJ1nY6cUK&index=5" target="_blank" onclick="trackPageView('assets: Security and the Internet of Things ')")
				//- img.lazyload(data-sizes='auto' src="img/assets/consumer8.jpg")
				picture
					<!--[if IE 9]><video style="display: none;"><![endif]-->
					source(data-srcset='img/assets/consumer8.jpg' media='(min-width:720px)')
					source(data-srcset='img/assets/consumer8_s.jpg' media='(min-width:300px)')
					<!--[if IE 9]></video><![endif]-->
					img.lazyload(data-sizes='auto' src='img/assets/consumer8_lq.jpg')
				
		.items
			a(href="https://www.youtube.com/watch?v=hTEUQ7qzV-A&index=4&list=PLMHhjKfBkIZR5vv7zB9NBpWaTJ1nY6cUK" target="_blank" onclick="trackPageView('assets: POS Attacks and Stolen Credit Cards')")
				//- img.lazyload(data-sizes='auto' src="img/assets/consumer9.jpg")
				picture
					<!--[if IE 9]><video style="display: none;"><![endif]-->
					source(data-srcset='img/assets/consumer9.jpg' media='(min-width:720px)')
					source(data-srcset='img/assets/consumer9_s.jpg' media='(min-width:300px)')
					<!--[if IE 9]></video><![endif]-->
					img.lazyload(data-sizes='auto' src='img/assets/consumer9_lq.jpg')
				