.container.slider
  #carousel1.owl-carousel.owl-theme
    .items
      a(href="https://scm.symantec.com/cyberresilientassessment/en/?mt=1504symiwsite&loc=APAC" onclick="trackPageView('assets: Cyber Resilient') " target="_blank")
        //- img.lazyload(data-sizes='auto' src="img/assets/professional6.jpg")
        picture
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          source(data-srcset='img/assets/professional6.jpg' media='(min-width:720px)')
          source(data-srcset='img/assets/professional6_s.jpg' media='(min-width:300px)')
          <!--[if IE 9]></video><![endif]-->
          img.lazyload(data-sizes='auto' src='img/assets/professional6_lq.jpg')
        
    .items
      a(href="http://www.symantec.com/connect/blogs/symantec-cyberwar-games-innovation-it-s-not-just-about-coding" onclick="trackPageView('assets: Symantec Cyberwar games') " target="_blank")
        //- img.lazyload(data-sizes='auto' src="img/assets/professional1.jpg")
        picture
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          source(data-srcset='img/assets/professional1.jpg' media='(min-width:720px)')
          source(data-srcset='img/assets/professional1_s.jpg' media='(min-width:300px)')
          <!--[if IE 9]></video><![endif]-->
          img.lazyload(data-sizes='auto' src='img/assets/professional1_lq.jpg')
        
    .items
      a(href="http://www.symantec.com/connect/blogs/what-do-and-what-not-do-when-you-discover-breach" onclick="trackPageView('assets: What to do and what not to do')" target="_blank")
        //- img.lazyload(data-sizes='auto' src="img/assets/professional2.jpg")
        picture
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          source(data-srcset='img/assets/professional2.jpg' media='(min-width:720px)')
          source(data-srcset='img/assets/professional2_s.jpg' media='(min-width:300px)')
          <!--[if IE 9]></video><![endif]-->
          img.lazyload(data-sizes='auto' src='img/assets/professional2_lq.jpg')
        
    .items
      a(href="http://bit.ly/1ALJlE8" target="_blank")
        //- img.lazyload(data-sizes='auto' src="img/assets/professional3.jpg")
        picture
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          source(data-srcset='img/assets/professional3.jpg' media='(min-width:720px)')
          source(data-srcset='img/assets/professional3_s.jpg' media='(min-width:300px)')
          <!--[if IE 9]></video><![endif]-->
          img.lazyload(data-sizes='auto' src='img/assets/professional3_lq.jpg')
       
    .items
      a(href="http://scm.symantec.com/resources/21330417_GA_IG-Threats-Are-You-Prepared-0314.pdf" onclick="trackPageView('assets: Threats Are you prepared')" target="_blank")
        //- img.lazyload(data-sizes='auto' src="img/assets/professional4.jpg")
        picture
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          source(data-srcset='img/assets/professional4.jpg' media='(min-width:720px)')
          source(data-srcset='img/assets/professional4_s.jpg' media='(min-width:300px)')
          <!--[if IE 9]></video><![endif]-->
          img.lazyload(data-sizes='auto' src='img/assets/professional4_lq.jpg')
        
    .items
      a(href="https://scm.symantec.com/resources/21330416_ga_gph-is-your-data-safe-security-noncompliance-infographic.pdf" onclick="trackPageView('assets: Is your data safe')" target="_blank")
        //- img.lazyload(data-sizes='auto' src="img/assets/professional5.jpg") 
        picture
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          source(data-srcset='img/assets/professional5.jpg' media='(min-width:720px)')
          source(data-srcset='img/assets/professional5_s.jpg' media='(min-width:300px)')
          <!--[if IE 9]></video><![endif]-->
          img.lazyload(data-sizes='auto' src='img/assets/professional5_lq.jpg')
        
.divider