.container.slider
	#carousel.owl-carousel
		.items
			a(href="resources/istr20_en.pdf" target="_blank" onclick="trackPageView('banner: Symantec@Interpol World 2015')")
				picture
					<!--[if IE 9]><video style="display: none;"><![endif]-->
					source(data-srcset='img/banner/banner4/xl.jpg' media='(min-width:720px)')
					source(data-srcset='img/banner/banner4/l.jpg' media='(min-width:500px)') 
					<!--[if IE 9]></video><![endif]-->
					img.lazyload(data-sizes='auto' src='img/banner/banner4/s.jpg')

		.items
			a(href="?video=B25RkIg2Ktw&videoi=3#more" onclick="clickBanner3()")

				//- img.lazyload(data-sizes='auto' src="img/banner_02.jpg")
				picture
					<!--[if IE 9]><video style="display: none;"><![endif]-->
					source(data-srcset='img/banner/banner2/banner.jpg' media='(min-width:720px)')
					source(data-srcset='img/banner/banner2/banner.jpg' media='(min-width:500px)') 
					<!--[if IE 9]></video><![endif]-->
					img.lazyload(data-sizes='auto' src='img/banner/banner2/banner.jpg')
				//- img.lazyload(data-sizes='auto' data-sizes='auto' src='img/banner/banner2/s.jpg' data-srcset='img/banner/banner2/l.jpg 500w, img/banner/banner2/xl.jpg 720w')
		.items
			a(href="?video=GEwG-2hn44g&videoi=11#more" onclick="clickBanner1()")
				//- img.lazyload(data-sizes='auto' src="img/banner_01.jpg")
				picture
					<!--[if IE 9]><video style="display: none;"><![endif]-->
					source(data-srcset='img/banner/banner3/banner.jpg' media='(min-width:720px)')
					source(data-srcset='img/banner/banner3/banner.jpg' media='(min-width:500px)') 
					<!--[if IE 9]></video><![endif]-->
					img.lazyload(data-sizes='auto' src='img/banner/banner3/banner.jpg')
				//- img.lazyload(data-sizes='auto' data-sizes='auto' src='img/banner/banner1/s.jpg' data-srcset='img/banner/banner1/l.jpg 500w, img/banner/banner1/xl.jpg 720w')
		.items
			a(href="?video=6La9Xw29UCQ&videoi=11#more" onclick="clickBanner4()")
				//- img.lazyload(data-sizes='auto' src="img/banner_03.jpg")
				picture
					<!--[if IE 9]><video style="display: none;"><![endif]-->
					source(data-srcset='img/banner/banner4/banner.jpg' media='(min-width:720px)')
					source(data-srcset='img/banner/banner4/banner.jpg' media='(min-width:500px)') 
					<!--[if IE 9]></video><![endif]-->
					img.lazyload(data-sizes='auto' src='img/banner/banner4/banner.jpg')
				//- img.lazyload(data-sizes='auto' data-sizes='auto' src='img/banner/banner3/s.jpg' data-srcset='img/banner/banner3/l.jpg 500w, img/banner/banner3/xl.jpg 720w')