.container.slider
	#carousel.owl-carousel.owl-theme
		.items
			a(href="#intro")
				img(src="img/banner_02.jpg")
		.items
			a(href="#more")
				img(src="img/banner_01.jpg")
		.items
			a(href="#more")
				img(src="img/banner_03.jpg")