#contact.wrapper.blk
	.container
		.group.block.flexed
			h1 Say hello at #[a(href='mailto:rav3tey@gmail.com') rav3tey@gmail.com] or #[br]find out more about me on  #[a(href='https://www.linkedin.com/in/liangtai' target='_blank') Linkedin] and #[a(href='https://www.instagram.com/rav3t/' target='_blank') Instagram]	