#education.wrapper.blk
      .container
        .group.block.flexed
          .title 
              h1 #[span.icon-school]
        .group.block.flexed

          .item.shorter.showOnDesktop
            p 2004 - 2006

          .item
            p.showOnMobile 2004 - 2006
            h3 Diploma in Multimedia
            h4 Nanyang Academy of Fine Arts
            ol
              li Animation, Interactive Technology, Video Graphics and Special Effects