#experience.wrapper.blk
  .container
    .group.block.flexed
      .title 
          h1 #[span.icon-card_travel]
    .group.block.flexed

      .item.shorter.showOnDesktop
        p Oct 2014 - Present

      .item
        p.showOnMobile Oct 2014 - Present
        h3 Front End Developer / Interactive Designer 
        h4 Godfrey Q
        ol
          li Front end development utilizing HTML5, CSS3, and JavaScript.
          li Tested front-end code in multiple browsers to ensure cross-browser compatibility.
          li Maintained brand standards under company guidelines.
          li Developed web-site mock-ups for clients to ensure quality control and client satisfaction before project development phase.
          li Experience in Virtual Reality development using Three.js

    .group.block.flexed
      .item.shorter.showOnDesktop
        p Feb 2009 - Oct 2014
      .item
        p.showOnMobile Feb 2009 - Oct 2014
        h3 Creative Manager
        h4 Stone & Archer
        ol
          li UI/ UX development for various web applications.
          li Work closely with entire team to create and maintain the front end code for features of Tanah Merah Country Club website, including backend developers, content creators, and designers.
          li Use HTML5, CSS/CSS3, JSON, jQuery, Javascript, SASS, Bootstrap/Foundation and Responsive Design.

    .group.block.flexed
      .item.shorter.showOnDesktop
        p Dec 2007 - Jan 2009

      .item
        p.showOnMobile Dec 2007 - Jan 2009
        h3 3D Visualiser
        h4 City Design 
        ol
          li Oversee renovation projects and create 3D interior renders for construction team.


    .group.block.flexed
      .item.shorter.showOnDesktop
        p Jan 2007 - Oct 2007
      .item
        p.showOnMobile Jan 2007 - Oct 2007
        h3 Interactive Designer
        h4 Plastic Soldier Factory
        ol
          li  Revamp and develop DP Design website in AS2.
          li Familiarise with hard coded Flash Actionscript and its best practices.