.wrapper.foot.blk
	.container
		.block.footer
			ul.list-links 
				li &copy;1995 - 2015 Symantec Corporation
				li
					a(href="http://www.symantec.com/about/profile/policies/legal.jsp" target="_blank") Legal
				li
					a(href="http://www.symantec.com/about/profile/privacypolicy/index.jsp" target="_blank") Privacy