#intro.wrapper.blk
	.container
		.group.block.intro.flexed
			.item.profilePic
				img(src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/7/005/07a/388/0d1ce39.jpg")
			.item
				h4 About Me
				p I'm a front end developer with professional experience developing beautiful and intuitive web applications.

				p On a daily basis, I work on intricate front-end projects with the latest languages and technologies, experimenting new frameworks and libraries.
				
			.item
				h4 Skillset
				ol
					li HTML5 via JADE, PUG
					li CSS3 via SASS, LESS, Stylus
					li jQuery, Javascript
				#[br]
				h4 Tools
				ol
					li Sublime Text, Visual Studio Code
					li Adobe CC
					li Blender
					li Github

				