#intro.wrapper.blk
	.container
		.group.block.intro.flexed
			.item.profilePic
				img(src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/7/005/07a/388/0d1ce39.jpg")
			.item
				h4 About Me
				p I'm a front end developer with professional experience building efficient and scalable web applications. I'm passionate about quality code, best practices and performance.

				p On a daily basis, I work on complex front-end projects with up-to-date languages and technologies. While I enjoy experimenting with new frameworks and libraries, I understand the importance of placing focus on the end goal: delivering a beautiful, functional product to the user/client.

				p I see every new experience as an opportunity to learn. My favorite projects are those that require me to push beyond my boundaries and acquire new skills and knowledge in order to succeed.
				
			.item
				h4 Skillset
				ol
					li HTML5 via JADE, PUG
					li CSS3 via SASS, LESS, Stylus
					li jQuery, Javascript
				#[br]
				h4 Tools
				ol
					li Sublime Text, Visual Studio Code
					li Adobe CC
					li Blender
					li Github

				