#intro.wrapper.blk
  .container
    .group.block.intro.flexed
      .item.centerText
        .profilePic
          img(src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/7/005/07a/388/0d1ce39.jpg")
        p 
          span A front end web developer and a user interface designer who focus on writing clean, effective codes and creating beautiful, functional website. 

