#main.wrapper.blk
	.container
		#particles-js
		.center.top
			h1 Hello, I am #[span.typed]
			p A Singapore based Front End Developer and a UI designer who focus on writing clean, effective codes and creating beautiful, functional website.
		//- .center
			h1.reallyHuge LT