meta( content="prod" name="om.environment" )
meta( content="en" name="om.site_language" )
meta( content="aa" name="om.site_country" )
meta( content="Business" name="om.visitor_segment" )
meta( content="Microsite" name="om.site_section" )
meta( content="Microsite" name="om.site_section_us" )
meta( content=omnitureSiteName name="om.site_sub_section" )
meta( content=omniturePageName name="om.content_title" )
| <meta content="en/aa: biz: microsite: Interpol_World: home<?php echo !empty($_SESSION ['mt']) ? ': mt: '.scrubStrings($_SESSION ['mt'],false) :''; ?>" name="om.page_name">
meta( content="html" name="om.content_format" )
meta( content="page" name="om.content_type" )
meta( content="" name="om.product_name" )
meta( content="" name="om.product_id" )
meta( content="" name="om.product_version_name" )
meta( content="" name="om.product_version_id" )
meta( content="" name="om.product_category_name" )
meta( content="" name="om.product_category_id" )
meta( content="" name="om.product_sub_category_name" )
meta( content="" name="om.product_sub_category_id" )
script(src='//www-secure.symantec.com/script/omniture/om_code.js')
