#reco.wrapper.blk
	.container
		.group.block.flexed
			.title 
				h1 Testimonial

		.group.block.intro.flexed
			.item
				p I had the pleasure of working with Liang Tai Tey, from October 2014 - July 2016, while he worked as an Interactive Designer at Godfrey Q Singapore. During that time we worked very closely on all projects large and small. I was continuously impressed by Liang Tai's professionalism and dedication to projects he worked on, even when it was out of his remit. The value he adds and solutions he presents to a project is immeasurable. 
				p Liang Tai takes great pride in his work and possesses a very positive attitude. All of which is reflected in his performance. There is no challenge that can knock his upbeat personality. 

				p His work style enables him to effectively communicate and interact positively with all team members. Liang Tai is very creative and has the digital know-how to ensure projects not only launch successfully but look their best on all platforms and devices. 

				p I am very grateful for Liang Tai’s contributions to our team and very confident that he has the intelligence, work ethic and communications skills to add value wherever he works. Please feel free to contact me if you have any questions regarding to Liang Tai.

				h2 Oliver Dooley
				h4 Regional Director of Digital, @ Godfrey Q Singapore
				h4 oliver@gqpbj.com
				h4 +65 9759 6491

		.group.block.intro.flexed
			.item
				p Liangtai or LT, as I like to call him is an amazing multi-talented right-hand man. He has an unparalleled curiosity for learning and the competency to solve pretty much any problem as a Front-end Developer. His humility often hides his true value to himself and the team, only to surprise us by often exceeding our expectations. Throw him a challenge and he will look at you with an enthusiastic grin. 
				p It has been an amazing time working with him on Virtual Reality projects as well as other digital projects such as campaign sites and even B2B mobile apps for our clients. Personally, I have learned a lot from working with LT. He is one of the most helpful colleagues I have ever encountered in my career. 
				p Hiring him would be one of the best decisions any hiring manager could make.

				h2 Risiandi Jiang 
				h4 Intergrated Art Director @ Godfrey Q Singapore
				h4 risi@gqpbj.com
				h4 +65 9642 5274


		
