#work.wrapper.blk
	.container
		.group.block.flexed
			.item
				.overlay
					a(href="https://vrt.veritas.com/nbuvr/en?dev", target="_blank")
						.title
							h1 Veritas NBU 7.7
				a(href="https://vrt.veritas.com/nbuvr/en?dev", target="_blank")
					img(src="img/portfolio/nbu.jpg")
			.item.description
				.center 
					h1 Veritas NBU 7.7

			.item.description
				.center 
					h1 Where are my monkeys?
			.item
				.overlay
					a(href="https://www.wherearemymonkeys.com/en/", target="_blank")
						.title
							h1 Where are my monkeys?
						
				a(href="https://www.wherearemymonkeys.com/en/", target="_blank")
					img(src="img/portfolio/monkeys.jpg")

			.item
				.overlay
					a(href="https://vrt.veritas.com/nbuvr/en?dev", target="_blank")
						.title
							h1 Symantec BackupExec 15
				a(href="https://vrt.veritas.com/be15/en", target="_blank")
					img(src="img/portfolio/be15.jpg")

			.item.description
				.center 
					h1 Symantec BackupExec 15

			
			.item.description
				.center 
					h1 Symantec NBU Benchmark
			.item
				.overlay
					a(href="https://vrt.veritas.com/nbuvr/en?dev", target="_blank")
						.title
							h1 Symantec NBU Benchmark
				a(href="https://vrt.veritas.com/nbubenchmark/en/", target="_blank")
					img(src="img/portfolio/ryan.jpg")

					