#work.wrapper.blk
	.container
		.group.block.flexed

			.item
				.overlay
					a(href="https://rav3.github.io/nbubenchmark/build/", target="_blank")
						.title
							h1 Symantec NBU Benchmark
				a(href="https://rav3.github.io/nbubenchmark/build/", target="_blank")
					//- img(src="img/portfolio/ryan.jpg")
					picture
						<!--[if IE 9]><video style="display: none;"><![endif]-->
						source(data-srcset='img/portfolio/ryan.jpg' media='(min-width:720px)')
						source(data-srcset='img/portfolio/ryan.jpg' media='(min-width:500px)') 
						<!--[if IE 9]></video><![endif]-->
						img.grayscale.lazyload(data-sizes='auto' src='img/portfolio/ryan.jpg')


			.item
				.overlay
					a(href="https://rav3.github.io/be15/build/index.en.html", target="_blank")
						.title
							h1 Symantec BackupExec 15
				a(href="https://rav3.github.io/be15/build/index.en.html", target="_blank")
					//- img(src="img/portfolio/be15.jpg")
					picture
						<!--[if IE 9]><video style="display: none;"><![endif]-->
						source(data-srcset='img/portfolio/be15.jpg' media='(min-width:720px)')
						source(data-srcset='img/portfolio/be15.jpg' media='(min-width:500px)') 
						<!--[if IE 9]></video><![endif]-->
						img.grayscale.lazyload(data-sizes='auto' src='img/portfolio/be15.jpg')

			

			
			.item
				.overlay
					a(href="https://rav3.github.io/wheresmymonkey/build/en/", target="_blank")
						.title
							h1 Where are my monkeys?
						
				a(href="https://rav3.github.io/wheresmymonkey/build/en/", target="_blank")
					//- img(src="img/portfolio/monkeys.jpg")
					picture
						<!--[if IE 9]><video style="display: none;"><![endif]-->
						source(data-srcset='img/portfolio/monkeys.jpg' media='(min-width:720px)')
						source(data-srcset='img/portfolio/monkeys.jpg' media='(min-width:500px)') 
						<!--[if IE 9]></video><![endif]-->
						img.grayscale.lazyload(data-sizes='auto' src='img/portfolio/monkeys.jpg')


			.item
				.overlay
					a(href="https://vrt.veritas.com/nbuvr/en?dev", target="_blank")
						.title
							h1 Veritas NBU 7.7
				a(href="https://vrt.veritas.com/nbuvr/en?dev", target="_blank")
					//- img(src="img/portfolio/nbu.jpg")
					picture
						<!--[if IE 9]><video style="display: none;"><![endif]-->
						source(data-srcset='img/portfolio/nbu.jpg' media='(min-width:720px)')
						source(data-srcset='img/portfolio/nbu.jpg' media='(min-width:500px)') 
						<!--[if IE 9]></video><![endif]-->
						img.grayscale.lazyload(data-sizes='auto' src='img/portfolio/nbu.jpg')

			.item
				.overlay
					a(href="http://stonenarcher.com/gallery/All/", target="_blank")
						.title
							h1 Stone & Archer Gallery
				a(href="https://http://stonenarcher.com/gallery/All/", target="_blank")
					//- img(src="img/portfolio/nbu.jpg")
					picture
						<!--[if IE 9]><video style="display: none;"><![endif]-->
						source(data-srcset='img/portfolio/sna.jpg' media='(min-width:720px)')
						source(data-srcset='img/portfolio/sna.jpg' media='(min-width:500px)') 
						<!--[if IE 9]></video><![endif]-->
						img.grayscale.lazyload(data-sizes='auto' src='img/portfolio/sna.jpg')

			.item
				.overlay
					a(href="https://www.fujixerox.com.sg/dreamservice/", target="_blank")
						.title
							h1 Fuji Xerox Dream Service
				a(href="https://www.fujixerox.com.sg/dreamservice/", target="_blank")
					//- img(src="img/portfolio/nbu.jpg")
					picture
						<!--[if IE 9]><video style="display: none;"><![endif]-->
						source(data-srcset='img/portfolio/fujixerox.jpg' media='(min-width:720px)')
						source(data-srcset='img/portfolio/fujixerox.jpg' media='(min-width:500px)') 
						<!--[if IE 9]></video><![endif]-->
						img.grayscale.lazyload(data-sizes='auto' src='img/portfolio/fujixerox.jpg')
			

			

			

			
			

					