#main
	background-color #333

#intro
	background linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 100%)
#work
	background-color white

#experience

	background-color #eee

#education
	background-color white

#footer
#contact
	background-color hexOrange
	// height auto


	