.owl-controls 
  position absolute
  width 100%
  bottom 10px
  +below(sm)
  	bottom 0px
  
#carousel1, #carousel2
	.owl-controls 
		bottom -40px
	
	.owl-item
		.items
			max-width 601px !important
			