.header
	background-color #ffffff
	position fixed
	top 0
	width 100%
	padding 8px 0
	z-index 100
	transform translate3d(0,0,0)

.logo
	display inline-block
	vertical-align top
	position relative
	z-index 100
	h1
		padding 0
		margin 0
		width 120px
		height 32px
		text-indent 100%
		white-space nowrap
		overflow hidden	
		background-image url('../img/logosm.png')
		background-position 0 0
		background-repeat no-repeat
.share
	position absolute
	top 4px
	right 20px
		
.nav
	position: absolute;
	top: 5px;
	left: 0px;
	right: 100px;
	text-align: center;
	a 
		text-transform uppercase
		font-size 13px
		font-weight 700
		color hexBlack
		padding-bottom 5px
		border-bottom 3px solid transparent
		&:hover
		&.active
			border-bottom-color hexYellow
			text-decoration none
		
			
.newsletter 
	z-index 101
	position absolute
	right 0px
	bottom -40px
			