ol
	list-style-type none
	margin-left 25px
	&> li
		// counter-increment step-counter
		margin-bottom 10px
		padding 0px 0 0 5px
		position relative
		&:before
			font-family 'icon'
			content: "\e5c8";

			padding 0
			border-radius 50%
			color hexBlack
			position absolute
			line-height 1
			width 10px
			height 10px
			text-align center
			left -25px
			top 7px
			font-size 100%
			

.list-links
	padding-left 0
	list-style none
	margin 0
	+below(sm)
		font-size 0.9em
	& > li 
		display inline
		& + li:before
			content "·"
			padding 0 5px
			.share&
				padding 0 2px
				content ""
		.share&
			vertical-align top