ol
	list-style-type none
	margin-left 25px
	&> li
		// counter-increment step-counter
		margin-bottom 10px
		padding 0px 0 0 5px
		position relative
		font-size 0.75em
		color hexBlack
		&:before
			font-family 'icon'
			content: "\e5c8";
			
			padding 0
			border-radius 50%
			color hexBlack
			position absolute
			line-height 1
			width 10px
			height 10px
			text-align center
			left -25px
			top 7px
			font-size 100%

.icon-list
	li
		float left
		margin-right 10px
		font-size 1.2em