#zoom
	position relative
	overflow hidden
	display inline-block
	width 100%
	cursor crosshair
	img
		pointer-events none
	
.hovertext
	width 100%
	text-align center
	&:before
		padding 5px 15px 5px 0
		background-color hexBlue
		content 'Hover to enlarge'
		color hexWebGrey6

#zoombrowser
	overflow hidden
	display inline-block
	.zoomImg
		z-index -1

#zoommobile
	position absolute
	overflow hidden
	display none !important
	width 200px
	height 100px
	
	+below(sm)
		display inline-block
	.zoomImg
		z-index 1