.loader
	position fixed
	left 0
	top 0
	width 100%
	height 100%
	overflow visible
	background linear-gradient(to bottom,  #333 0%,#000000 100%)
	z-index 100

	.loader-inner
		align(direction=both)
		> div
			background hexYellow

		
			
		