html
body
	font-smoothing antialiased
	height 100%
	
	&.scroll
		overflow hidden
		height 100%
		width 100%
		position fixed

body
	// font-family: 'Roboto Mono'
	font-family 'Roboto Slab', serif
	// font-family 'Open Sans', sans-serif
	line-height 22px
	font-size 16px
	color white
	background-color #ddd
	overflow-x hidden

.content
		

.noscroll
	overflow hidden

.scroll
	overflow none !important
	
*
	box-sizing border-box
	
a
	color hexOrange
	text-decoration none
	&:visited
		color hexOrange
	&:hover
		text-decoration underline
	.narrow &
		+below(sm)
			word-break break-all
			word-wrap break-all

img
	height auto
	width: 100%;
	max-width 100%
	vertical-align top
	.title &
		margin-top 20px
	&.lazyload
	&.lazyloaded
	&.lazyautosizes
	&.lazyloading
		height auto
		width 100%
		max-width 100% !important

h1
	color hexBlack
	margin-top 0
	margin-bottom 10px
	font-size 2.2em
	line-height 1.24em
	font-weight 700
	
	#main &
		color hexOrange
		font-size 2.3em
	#work &
		color hexOrange
		font-size 2.3em
		font-weight 400
	
	&.reallyHuge
		font-size 28em
		opacity 0.3
		letter-spacing -3px
		+below(sm)
			font-size 20em
	
	
		

h2
	
	font-size 1.4em
	line-height 1.25em
	font-weight 100
	margin-top 0
	margin-bottom 10px
	font-style italic
	
	&.dark
		color hexBlack
		margin-bottom 20px
	
h3
	color hexOrange
	font-weight 700
	font-size 1.25em
	line-height 1.25em
	margin 0 0 10px 0
	padding 0
	
	#experience &
		margin-bottom 5px

h4
	color hexBlack
	font-weight 700
	font-size 1em
	line-height 1em
	margin 0 0 10px 0
	padding 0
	
	#experience &
		&:before
			content '@ '
	
	#intro &
		color hexOrange
		

	
	
	
p
	//font-size 1em
	color hexBlack
	line-height 1.7
	font-weight 200
	margin-top 0
	margin-bottom 15px
	#main &
		color white

		
	
	#experience &
	#education &
		color hexOrange
		font-weight 700
		
strong 
	font-weight 700

#particles-js
	position absolute
	width 100%
	height 100%
	z-index 0
	
.typed-cursor
	opacity 1
	animation blink 0.7s infinite
    
@keyframes blink {
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
	



	
