shareSize = 24px

.share
	& > li 
		display inline-block
		height shareSize
	.title
		line-height shareSize + 2px
		color hexBlack
		font-size 12px
		font-weight 500
		
		
.share-link
	width shareSize
	height shareSize