/*Primary Swatches*/
hexYellow = #fdbb30;
hexBlack = #222222;
hexWhite = #FEFEFE;



/*Secondary Swatches*/
hexDarkGrey = #8e908f;
hexLightGrey = #e0e1dd;

/*Web Greys*/
hexWebGrey1 = #333333; //USE THIS GREY FOR BODY TEXT
hexWebGrey2 = #444444;
hexWebGrey3 = #555555;
hexWebGrey4 = #7b7b7b;
hexWebGrey5 = #858585;
hexWebGrey6 = #ededec;

/*Accent Swatches*/
hexOrange = #e64c3b;
hexBlue = #91a6c6;
hexTeal = #7EA294;
hexTangerine = #D84704;
hexRed = #9C3022;
hexGreen = #587921;
hexPurple = #666699;

/*Hyperlink Swatches*/
//Note: LinkVisited color is the same for both links on dark or light backgrounds. 
hexLinkOnLight = #416e00;
hexLinkOnDark = #72a826;
hexLinkVisited = hexLinkOnDark;