.btn
	text-align left
	width 240px 
	span.arrow img
		width 12px
		height 12px
		margin 5px 0 0 5px

.newsletter
	bottom -40px
	width 260px
	right 0px
	.btn
		&.cut
			padding-left 10px
			
.list-links
	&.share
		li
			img
				width 32px !important
				height 32px !important
				max-width none !important

#nagContent
	font-size 0.7em

#nag
	.tab
		left -78px
		
#attend
	background-color black

.col-3-4
	margin-right 0%;
	
.addthisevent-drop
	width 180px
	