extends ./_layouts/layout.jade

block content
  //- include ./_includes/header.jade
  .content
    include ./_includes/main.jade     
    include ./_includes/intro.jade
    include ./_includes/work.jade
    include ./_includes/experience.jade
    include ./_includes/education.jade
    include ./_includes/recommendation.jade
  include ./_includes/footer.jade
   
  script(src='js/min/main.min.js')